$border-color: #dddddd;
$border: 1px solid $border-color;

$font-size: 13px;

$width-channelList: 300px;

$secondary-color: #f8f8f8;
$tertiary-color: #f8f8f8;

$layout-breakpoint-tablet: 650px;
@media screen and (max-width: $layout-breakpoint-tablet) {
  .channelView {
    width: calc(100% - 40px);
    img {
      height: auto;
      max-width: 100%;
    }
  }
}

@mixin paragraph() {
  line-height: 18px;
  font-size: 13px;
  @media screen and (max-width: $layout-breakpoint-tablet) {
    font-size: 13px;
    line-height: 20px;
  }
}

@mixin title() {
  color: #d1d2d3;
  font-weight: bold;

  font-size: 16px;
  padding: 10px;
}

.channelView {
  @media screen and (max-width: $layout-breakpoint-tablet) {
    width: calc(100% - 40px);
  }
  width: 100%;
  // border: 1px solid red;
  position: relative;
  background: $secondary-color;

  .col:nth-child(2) {
    padding: 0px 0px 0px 5px;
  }
  .floatingTime {
    width: 100%;
    border-bottom: $border;
    position: relative;
    .floatingTimeWrapper {
      justify-content: center;
      left: 0;
      right: 0;
      display: flex;
      display: flex;
      top: -14px;
      position: absolute;
    }
    .timeCapsule {
      border: $border;
      padding: 5px 10px 5px 10px;
      border-radius: 20px;
      z-index: 2;
      bottom: -1px;
      background: #ffffff;
    }
  }

  .nameSection {
    top: 0;
    @include title();
    color: #1d1c1d;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    img {
      height: 20px;
      border-radius: 5px;
    }
    span {
      padding-left: 10px;
    }
    .navigationIcon {
      display: none;

      @media screen and (max-width: $layout-breakpoint-tablet) {
        display: block;
      }
    }
  }
  .singleMessage {
    @include paragraph();
    height: auto;
    // border:1px solid red;
    display: flex;
    padding: 10px 10px 20px 10px;
    .username {
      color: #1d1c1d;
      font-weight: bold;
    }
    .avatarContainer {
      width: 40px;
      min-width: 40px;
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    .userMessageTime {
      font-size: 12px;
      color: #616061;
    }
    .message {
      padding-top: 5px;
      color: #4a494a;
      .colWrapper {
        display: flex;
        padding-top: 10px;
      }
      .link {
        color: #1264a3;
        text-decoration: none;
        display: block;
      }
      .borderLeft {
        display: flex;
        background: $border-color;

        width: 4px;
        border-radius: 10px;
      }
      .metaContainer {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        max-width: 550px;
        .previewImage {
          max-width: 550px;
          padding-top: 10px;
          img {
            height: 200px;
          }
        }

        .metaLogoSiteName {
          display: flex;
          img {
            height: 15px;
          }
          .metaName {
            padding-left: 5px;
            color: black;
            font-weight: bold;
          }
        }

        .linkTitle {
          font-weight: bold;
          color: #1264a3;
          padding: 5px 0;
        }
        .description {
          @include paragraph();
        }
      }
    }
  }

  .wrapper {
    position: relative;
    top: 0px;
    bottom: 0px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
