/* reset css */


.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    /*position: relative;*/
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}


blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.row {
    width: 100%;
    margin: 0 0;
}


/* reset css end */


 
#about {
    position: relative;
    height: 47%;
    width: 100%;
    background: #F6F6F6;
    max-height: 400px;
}

.card img:hover {
    cursor: hand;
}

.intro-container {
    flex: 1 1 0;
}

.board-container {
    flex: 1 1 0;
}

.d-f-r {
    display: flex;
    flex-direction: row;
}

.d-f-c {
    display: flex;
    flex-direction: column;
}

.holder {
    width: 100%;
}

.h-50 {
    height: 50%;
}

 .dropdown-menu {
    right: 0;
    left: auto !important;
}

.footer {
    font-weight: bolder;
    font-size: 100%;
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro-container {
    position: relative;
    padding-left: 130px;
}

.introduction {
    background: transparent;
}


.introduction .intro-container .hello {
    clear: left;
    text-align: left !important;
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
    animation: type 5s;
}

.introduction .intro-container .hello span:nth-child(1) {
    font-size: xx-large;
    font-weight: 700;
    color: #4E5158;
}

.introduction .intro-container .hello span:nth-child(2) {
    font-size: medium;
    font-weight: 500;
    color: #4E5158;
}


@keyframes type {
    from {
        width: 0;
    }
}


.introduction .intro>h6 {
    font-family: times new roman;
    line-height: 30px;
    font-size: 16px;
}

.introduction .intro>h6 span {
    font-size: 20px;
}

.line-height-1-25 {
    line-height: 1.25;
}

.max-width-full {
    max-width: 100%;
}

.menu {
    display: none;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    position: fixed;
    top: 0;
    font-weight: 700;
    z-index: 10;
}

.menu .navbar {
    background: rgba(232, 250, 225, 0.5);
    color: #fff;
    border: 0;
    border-bottom: 3px solid rgba(0, 25, 155, 0.5);
}

.menu .navbar-default .navbar-nav>li>a,
.menu .navbar-default .navbar-brand {
    color: #FA6862;
}

.menu .navbar-default .navbar-nav>li>a:hover {
    color: #ff0;
}

.menu .navbar-default .navbar-brand:hover {
    color: red;
    font-size: 20px;
}

.photo {
    /* display: flex;
    position: relative; */
    background-color: #4E5158;
    /* height: 75px; */
}

.profile-image {
    position: absolute;
    /* top: 40%; */
    /* left: 1%; */
    border-radius: 100%;
    height: 100px;
    border: 5px solid white;
}

.quotes {
    vertical-align: middle;
    height: 90px;
    background: #626367;
    color: #fff;
    line-height: 70px;
    width: 100%;
}

#skill {
    background: #0D3D51;
}

.skill_box {
    height: auto;
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}


.skill_box #android {
    /* padding: 20px; */
    background: #F6C344;
    text-align: center;
    flex: 2 1 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.skill_box #android i,.skill_box #html i{
    font-size: 60px;
    padding: 5px;

}



.skill_box #html {
    /* padding: 20px; */
    background: #C3D1DE;
    align-items: center;
    flex: 1 1 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.skill_box #css i,
.skill_box #js i,
.skill_box #java  .fa-java,
.skill_box #codeigniter .fa-compass,
.skill_box #mysql i,#laravel i {
    font-size: 40px;
    /*padding-left: 49px;*/
}

.skill_box #java  .fa-java{
    color: red;
}



.skill_box #css {
    /* padding: 20px; */
    background: #12B7A7;
    align-items: center;
    flex: 1 1 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
}

.skill_box #js {
    min-height:100px;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.skill_box #java {
    background: #EAEDF2;
    align-items: center;
    justify-content: center;
    min-height:100px;

}


.skill_box #web {
    /* padding: 4px; */
    background: #51C0ED;
    text-align: center;
    flex: 2 1 0px;
}

.skill_box #web .fa-globe {
    font-size: 150px;
    /* padding: 15px; */
}



.skill_box #codeigniter {
    padding: 20px;
    background: #334960;
}

.skill_box #mysql {
    background: #FFD25F;
    align-items: center;
}

.flex_container_1 {
    flex: 1 1 0px;
}

.skill #php {
    background: #F7B63E;

    height: 172px;
}

#laravel {
  

    background: #E84D3B;
    align-items: center;
}

#php .fa-rocket,




.skill_title {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 900;
    background-color: #fa6862;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    width: 250px;
}




#projects h2 {
    border-bottom: 1px solid #f4f3f3;
    display: block;
    font-family: ProximaNovaSemiBold;
    font-weight: bolder;
}

#projects h2 span {
    margin: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
}

#projects h2 span em {
    border-bottom: 1px solid #444948;
    font-style: normal;
    display: inline-block;
    padding: 25px 0;
    height: 10px;
    font-size: 14px;
}



#projects .image-container {
    float: left;
    padding: 12px 10px 10px 10px;
}

#projects .image-container img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    width: 100%;
    margin-top: 15px;
}

#skill span {
    font-size: large;
    font-weight: 400;
}

.social i {
    height: 25px;
    width: 25px;
    margin: 2px;
    padding: 4px;
    background: #73767C;
    color: #fff;
    float: left;
    font-size: 20px;
}
.sub_title{
    font-size: small;
    color: white;
}

.title {
    font-size: 18px;
    font-weight: 700;
    padding-left: 130px;
    /* left: 130px; */
    color: antiquewhite;
    align-items: center;
    font-family: sans-serif;
}


 

 

   /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {  
        body{
            font-size: 0.8em;
        }
        .nav-link { 
            padding: .25rem 0.5rem;
        }
        .intro-container{
            padding-left: 10%;
            padding-top: 30px;
        }
        .introduction .intro-container .hello{
            width: 100%;
        }
        .sub_title{
            display: none;
        }
        #php .fa-rocket, .skill_title{
            font-size: 35px;
        }
        .skill_box #web{
            display: none !important;
        }
         
  
   }
/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .skill_box{
        width: 90%
    }
    
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {}


/* // Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}