$border-color: #dddddd;
$border: 1px solid $border-color;

$border-color-secondary: #522653;
$font-size: 13px;

$width-channelList: 300px;
$width-workspace: 40px;

$primary-color: #4b154c;
$primary-color-hover: #3f0e40;
$secondary-color: #f8f8f8;
$tertiary-color: #f8f8f8;

$layout-breakpoint-mobile: 650px;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $border-color;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width: $layout-breakpoint-mobile) {
  .workspace,
  .channelListSection {
    display: none;
  }
  .channelView {
    width: 100%;
    img {
      height: auto;
      max-width: 100%;
    }
  }
}
@mixin paragraph() {
  line-height: 18px;
  font-size: 13px;
}
@mixin channelListCommon() {
  padding: 10px 0px;
  .channel-item {
    padding: 5px 10px;
    display: flex;
    .channel-icon {
      margin-right: 10px;
    }
    &.active {
      background: #1264a3;
    }
    &:hover:not(.active):not(.labelOnly) {
      background: $primary-color-hover;
    }
    & .channel-icon.add-icon {
      background: $border-color-secondary;
      border-radius: 2px;
    }
    @include hasLink();
  }
}
@mixin hasLink() {
  &:hover {
    cursor: pointer;
  }
}

@mixin title() {
  color: #d1d2d3;
  font-weight: bold;

  font-size: 16px;
  padding: 10px;
}

@mixin default() {
  color: #5f5f62;
  font-family: Helvetica;
  font-size: $font-size;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  .container {
    display: flex;
    height: 100vh;
  }
}
.nameSection {
  top: 0;
  left: 0;
  right: 0;
  @include title();
  border-bottom: 1px solid #522653;
  color: #ffffff;
  padding: 10px 10px 10px 15px;
}
.channelListSection {
  @include default();
  width: 300px;

  color: #c7b7c6;
}
.channelListSection.channelList,
.channelListSection.peopleList {
  @include channelListCommon();
  .channel-icon {
    height: 15px;
  }
  .labelOnly .channel-icon {
    height: 10px;
  }
}

.channelListSection.appList {
  @include channelListCommon();
  .channel-icon {
    height: 15px;
  }
  .big-icon {
    height: 20px;
  }
  .labelOnly .channel-icon {
    height: 10px;
  }
}
.channelListSection.huddle {
  border-top: 1px solid $border-color-secondary;
  background: $primary-color;
  @include channelListCommon();
  position: absolute;
  bottom: 0;
}
.channelsPeopleWrapper {
  border-left: 1px solid #522653;
  position: relative;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background: $primary-color;
  overflow: hidden;
  .wrapper {
    position: relative;
    top: 0px;
    bottom: 0px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.channelView {
  @include default();
  width: 100%;
  // border: 1px solid red;
  position: relative;
  background: $secondary-color;
  .col:nth-child(2) {
    padding: 0px 0px 0px 5px;
  }
  .floatingTime {
    width: 100%;
    border-bottom: $border;
    position: relative;
    .floatingTimeWrapper {
      justify-content: center;
      left: 0;
      right: 0;
      display: flex;
      display: flex;
      top: -14px;
      position: absolute;
    }
    .timeCapsule {
      border: $border;
      padding: 5px 10px 5px 10px;
      border-radius: 20px;
      z-index: 2;
      bottom: -1px;
      background: #ffffff;
    }
  }

  .nameSection {
    top: 0;
    @include title();
    color: #1d1c1d;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    img {
      height: 20px;
      border-radius: 5px;
    }
    span {
      padding-left: 10px;
    }
  }
  .singleMessage {
    @include paragraph();
    height: auto;
    // border:1px solid red;
    display: flex;
    padding: 10px 10px 20px 10px;
    .username {
      color: #1d1c1d;
      font-weight: bold;
    }
    .avatarContainer {
      width: 40px;
      min-width: 40px;
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    .userMessageTime {
      font-size: 12px;
      color: #616061;
    }
    .message {
      padding-top: 5px;
      color: #4a494a;
      .colWrapper {
        display: flex;
        padding-top: 10px;
      }
      .link {
        color: #1264a3;
        text-decoration: none;
        display: block;
      }
      .borderLeft {
        display: flex;
        background: $border-color;

        width: 4px;
        border-radius: 10px;
      }
      .metaContainer {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        max-width: 550px;
        .previewImage {
          max-width: 550px;
          padding-top: 10px;
          img {
            height: 200px;
          }
        }

        .metaLogoSiteName {
          display: flex;
          img {
            height: 15px;
          }
          .metaName {
            padding-left: 5px;
            color: black;
            font-weight: bold;
          }
        }

        .linkTitle {
          font-weight: bold;
          color: #1264a3;
          padding: 5px 0;
        }
        .description {
          @include paragraph();
        }
      }
    }
  }
  .textEditor {
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
    z-index: 3;
    .container {
      // padding: 10px;
      border: $border;
      height: 100px;
      border-radius: 10px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      .editorItemContainer {
        // border: 1px solid red;
        background: $tertiary-color;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .editorItem {
          margin-right: 10px;
          @include hasLink();
          // height: 15px;
          // border: 1px solid red;
        }
      }
      .actionItemContainer {
        // border: 1px solid red;
        // background: $tertiary-color;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        .editorItem {
          margin-right: 10px;
          @include hasLink();
        }
      }
    }
    .textArea:focus-visible {
      border: none;
      outline: none;
    }
    .textArea {
      padding: 10px;

      height: 30px;
      background: transparent;
      // border: none;
      // border: 1px solid red;
      color: #1d1c1d;
    }
  }
  .wrapper {
    position: relative;
    top: 0px;
    bottom: 0px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.workspace {
  // width: 80px;
  // height: 100vh;
  background: $primary-color;
  padding: 10px;

  .myWorkspace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    // padding: 5px;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
  }
}
